<div class="container">
  <div class="login">
    <div class="title">
      <h2 class="title__api">SWAPI</h2>
      <h3>Awesome Login</h3>
    </div>
    <form
      autocomplete="off"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="onSubmit()"
      [formGroup]="loginForm"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
        />
        <mat-error *ngIf="username?.hasError('required')">
          Required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <mat-error>Required field</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
