.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  margin: 0, 20px;
}

.sidenav-item {
  display: block;
  margin: 20px;
  color: gray;
  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &.active {
    color: black;
  }
}

